@import '../../styles/pallete.scss';

.header {
  display: flex;
}

.logo {
  font-size: 20px;
  margin: 0 100px;
  color: #fff;
  align-items: center;
}

.ant-layout-header {
  padding: 0px 15px;
}

.ant-layout-content {
  min-height: 85vh !important;
}

.ant-menu-item{
  text-transform: capitalize;
}

.ant-layout-sider-children{
  position: relative;
}

.ant-switch{
  transition: all 0.5s ease-in-out;
  position: absolute;
  top: 15px;
  left: 10px;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected{
background-color: $mainProjectColor2;
}

