.recommendation-container{
    h2{
        text-align: center;
    }
}
.recommendations-list{
    li{
        color: #000;
        font-size: 18px;
        font-weight: 700;
        line-height: 3;
    }
    p{
        font-size: 18px;
    }
}
.recommendations-ads1{
    text-align: center;
    img{
        width: 350px;
    }
}
.recommendations-ads2{
    img{
        width: 300px;
    }
}
.recommendations-ads3{
    text-align: left;
}
