.calculator-title {
    text-align: center;

    h3 {
        font-size: 30px;
    }
}

.calculator-inner {
    h3 {
        color: #555;
        margin: 0 30px;
        font-size: 26px;
    }

    h2 {
        color: #000;
    }

    p {
        margin: 40px 60px;
        font-size: 20px;
        font-weight: 500;
        color: #000;
    }
}

.user-input-formula {
    width: 70px;
    border: none;
    border-bottom: 2px solid #000;
    padding: 0 20px;

    &:focus {
        outline: none;
    }
}

.calculator-inner-toptext {
    display: flex;
    justify-content: space-between;
}

.calculator-bottom-info {
    font-size: 16px;
    border-top: 2px dotted #555;
    padding: 30px 75px 0;
}

.calc-btn {
    border-radius: 5px;
    margin-left: 15px;
    padding: 7px;
    color: #fff;
    background-color: #001529;
    cursor: pointer;
    border: none;
    &:focus{
        outline: none;
    }
    &:hover{
        color: #001529;
        background-color: #fff;
    }
}
