* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
}
a{
    text-decoration: none;
}
p{
    padding: 0;
    margin: 0;
}
ul, li{
    list-style: none;
}
